<h1>Dashboard: Admin</h1>
<p>Find me in app/views/dashboard/admin.html.erb</p>

<%= button_tag link_to "Accounts", account_path, class: "button" %>
<%= button_tag link_to "Teams", teams_path, class: "button"  %>
<%= button_tag link_to "Tasks", tasks_path, class: "button" %>

