<h1>Welcome!</h1>

<div class = button-panel>
  <a href="student.html.erb"><button type="button"> Student </button></a>
  <a href="admin.html.erb"><button type="button"> Admin </button></a>
</div>

<h6>Dashboard#home</h6>
<p>Find me in app/views/dashboard/home.html.erb</p>