<h1>Welcome!</h1>

<% if flash[:error] %>

  <div class = "flash"><%=flash[:error]%></div>

<% end %>

<div class = button-panel>

</div>

<h6>home#index</h6>
<p>Find me in app/views/home/index.html.erb</p>