<h1>Welcome!</h1>

<% if flash[:error] %>

  <div class = "flash"><%=flash[:error]%></div>

<% end %>


<h2>Admins</h2>
<p>
  Admins have the ability to create new user accounts with names, emails, ID numbers (.#), and passwords.
  Admins can move these accounts into teams, and assign rating tasks to the teams. A user can only be in a single team at a time.
  The first user to log in will be awarded the role of Admin
  Admins can navigate to the 'Admin' dashboard from the Navigation Bar above.
  Also: please don't assign anything on Mondays
</p>

<h2>Students</h2>
<p>
  Students will have to be given their account information from their Admin (including password).
  Once they sign in, they have the ability to change their password.
  Students can navigate to the 'Student' dashboard from the Navigation Bar above to view their assignments.
</p>

<h3> Please use the navbar to navigate to your destination. </h3>
