<h1>Welcome!</h1>

<div class = button-panel>
  <%= button_to 'Student Dashboard', dashboard_student_path, method: :get %>
  <%= button_to 'Admin Dashboard', dashboard_admin_path, method: :get %>

</div>

<h6>home#index</h6>
<p>Find me in app/views/home/index.html.erb</p>