/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.button {
    border: none;
    color: black; /* makes the color of text in the button black */
    font-size: 16px;
    border-radius: 6px;
    padding: 5px 12px;
    transition: 0.3s; /* transition time for when the user hovers over the button */
    cursor: pointer;
}
.submit-button {
    border: none;
    color: black; /* makes the color of text in the button black */
    font-size: 14px;
    border-radius: 6px;
    padding: 3px 12px;
    transition: 0.3s; /* transition time for when the user hovers over the button */
    cursor: pointer;
}
a:link {
    text-decoration: none;
    color: black;
}