/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root{
    --light_green: #B4C6A6;
    --orange: #FFC286;
    --green: #66806A;
    --yellow: #FFF1AF;
}

/* headings */
h1 {
    background-color: var(--orange);
    color: var(--green);
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 50px;

}

h2 {

    color: var(--green);
    padding: 5px 5px;
    font-weight: bold;
    font-size: 32px;

}

/* */
h3 {
    color: var(--green);
    font-size: 22px;
}
h6 {
    border-radius: 10px;
    padding: 5px 5px;
    background-color: var(--orange);
    color: var(--green);
}

/*.button {*/
/*    border: none;*/
/*    color: black; !* makes the color of text in the button black *!*/
/*    font-size: 16px;*/
/*    border-radius: 6px;*/
/*    padding: 5px 12px;*/
/*    transition: 0.3s; !* transition time for when the user hovers over the button *!*/
/*    cursor: pointer;*/
/*}*/
table, th, td {
    border: solid 2px #FFC286;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    margin-top: 10px;
}
.survey {
    text-decoration: #B4C6A6;
    color: #66806A
}
.submit-button {
    border: none;
    color: black; /* makes the color of text in the button black */
    font-size: 14px;
    border-radius: 6px;
    padding: 3px 12px;
    transition: 0.3s; /* transition time for when the user hovers over the button */
    cursor: pointer;
}
a:link {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: var(--green);
    padding: 10px 10px;
    overflow: hidden;
    margin-top: 25px ;
}
.navbar a { /* navbar buttons */
    color: white;
    padding: 10px 20px; /* gives room to each element (bounds, sides) */
    text-align: center;
    font-size: 20px;
    text-decoration: none; /* removes underlines */

}

.navbar a:hover{ /* hovering over a navbar button */
    background-color: var(--orange)
}

.navbar a.active {
    background-color: var(--orange)
}

/* styling for class = button */
.button {
    background-color: var(--green);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

/* styling for forms */
.form_container {
    border-style: solid;
    border-color: var(--orange);
    padding: 12px 12px;
    border-radius: 20px;

}

/* for text inputs */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 14px;
}
/* for password inputs */
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 14px;
}

/* form submit buttons */
input[type=submit] {
    background-color: var(--green);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
/* drop downs */
select {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

select:hover {
    background-color: var(--orange);
    color: var(--green);
}

/* form labels */
label {

    color: var(--green);
    font-size: 20px;
    padding: 5px 5px;
    display: inline-block;

}


/* for listing teams/accounts */
.listing_container {
    border-style: solid;
    border-color: var(--orange);
    padding: 12px 12px;
    width: 100%;
    font-size: 20px;
    border-radius: 20px;

}

/* the link tos */
.listing_container a {

    color: var(--green);
    padding: 10px 20px; /* gives room to each element (bounds, sides) */
    text-align: center;

    font-size: 20px;
    text-decoration: none; /* removes underlines */
}
.category { /* categories in the listings */
    color: var(--light_green);
    font-weight: bold;
}


/* flashes */
.flash{

    background-color: var(--yellow);
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 30px 30px;
    border-radius: 20px;

}

/* rows and columns */
.row {
    display: flex;
}

.column {
    flex: 50%;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    float: bottom;
}